<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChangeFont.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>926A2C941CD0D46700BDB2B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>926A2CAD1CD0D46800BDB2B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>926A2CB81CD0D46800BDB2B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
